* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

button:hover,
button:active {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

button:focus {
  outline: none;
}

button * {
  box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

button:hover *,
button:active * {
  box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.8);
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}