.button {
  outline: none;
}

.badge {
  border-radius: 30px;
  margin-left: 1rem;
  padding: 0 0.5rem;
  text-align: center;
}

@media(max-width: 720px) {
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 2rem;
    padding: 0.2rem 2rem;
  }
  .badge {
    margin-top: 0.4rem;
    margin-left: 0;
  }
}